@import 'modules/_error';

main{
margin: auto 0;
height: 100%;
background:white;

h1{display: none;}
}



#cont{
    width: 800px;
    
    margin:0 auto;
    overflow:hidden;
    

    #Images{position:relative; width:2400px; transition: all .5s;
    
        img{width: 800px; float:left;}
    }

 
}

#nav{
margin-left: 470px;
justify-content: space-evenly;

.button{ width: 100px;
         height: 40px;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;}
}

.things{
display: flex;
flex-direction: column;
justify-content: space-evenly;

.tryB {
    
    width: 100px;
    height: 40px;
    margin-left: 575px;
    margin-top: 30px;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;}

    a{color: white;}
   
 


    .thingsP{
        font-size: 20px;
        text-align: center;
    }
   
}

