.error-section{
    width: 100%;
    height: 700px;
     background-image: url(../images/matthew-unsplash.jpg);
     background-position: center center;
     background-size: cover;
     background-repeat: no-repeat;
     h2{ margin-left: 150px;
         color:white;
        
        
    
    a{color:white;
       font-size: 40px; }}


  
}


        
